

<h1 style="text-align: center;">Nyheter</h1>
<div class="container">
   <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
</div>
<% @articles.each do |article| %>
  <div class="jumbotron">

        <h4><%= article.title %></h4>
        <br/>
      <p><%= article.body %></p>
      <p style="float:right;"><%= article.created_at.strftime("%Y-%m-%d") %></p>
    <button><%= link_to 'Les mer', article_path(article) %></button>
  </div>
<% end %>