/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "documentation";


html{
  position:relative;
  min-height:100%;
}

body{
  margin-bottom: 60px;
}

h2, h3, .copy{
  text-align:center;
}

.footer{
  position:absolute;
  width:100%;
  color:white !important;
  background-color: #4682B4;

}

.col-md-2{
  float:right;
}

.column{
  float:left;
  margin-left:auto;
  margin-right:auto;
  padding:30px;
}

.li{

  list-style-type: none;
}
hr{
  border-top: 1px solid black;
}
.hrr{
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
}
 .aa{
   color:white !important;
   text-decoration: underline;
 }

 a{
   color:black !important;
 }

 .jumbotron.jumbotron-fluid{
   background-image: url("Abstract-triangles-l.jpg");
 }