<footer class="footer">
  <div class="container">
    <div class="column1">
      <h4 class="h11">Hvor er vi?</h4>
      <p>Høgskolen i Østfold <br/>
        Postboks 700 1757 NO-Halden
        Norway</p>
      <br/>
      <h4>Nyhetsbrev</h4>
      <form action="#" method="post" class="">
        <input type="search" name="" id="" class="form-control mr-sm-2" placeholder="Search" aria-label="">
        <button class="btn btn-outline-success long" type="submit"><span style="text-align: center">Meld Meg På</span></button>
      </form>
    </div>
    <div class="column">
      <h4>Dokumentasjon</h4>
      <li class="li"><a class="aa" href="#">Link 1</a></li>
      <li class="li"><a class="aa" href="#">Link 2</a></li>
      <li class="li"><a class="aa" href="#">Link 3</a></li>
      <li class="li"><a class="aa" href="#">Link 4</a></li>
    </div>
    <div class="column">
      <h4>Dokumentasjon</h4>
      <li class="li"><a class="aa" href="#">Link 1</a></li>
      <li class="li"><a class="aa" href="#">Link 2</a></li>
      <li class="li"><a class="aa" href="#">Link 3</a></li>
      <li class="li"><a class="aa" href="#">Link 4</a></li>
    </div>
    <div class="column">
      <h4>Dokumentasjon</h4>
      <li class="li"><a class="aa" href="#">Link 1</a></li>
      <li class="li"><a class="aa" href="#">Link 2</a></li>
      <li class="li"><a class="aa" href="#">Link 3</a></li>
      <li class="li"><a class="aa" href="#">Link 4</a></li>
    </div>
    <div class="column">
      <a  href="#" class="fa fa-twitter"></a>
      <a  href="#" class="fa fa-github"></a>
      <a  href="#" class="fa fa-skype"></a>
  </div>
  </div>

  <hr class="hrr"/>
  <p class="copy">© - Copyright <a href="https://www.hiof.no">Høgskolen i Østfold 2018</a></p>
</footer> <!-- end footer -->