<footer class="footer">
  <div class="container">
    <div class="column">
      <h4>Hvor er vi?</h4>
      <p>Høgskolen i Østfold <br/>
        Postboks 700 <br/>
      1757 NO-Halden <br/>
        Norway</p>
    </div>
    <div class="column">
      <h4>Dokumentasjon</h4>
      <li class="li"><a class="aa" href="#">Link 1</a></li>
      <li class="li"><a class="aa" href="#">Link 2</a></li>
      <li class="li"><a class="aa" href="#">Link 3</a></li>
      <li class="li"><a class="aa" href="#">Link 4</a></li>
    </div>
    <div class="column">
      <h4>Dokumentasjon</h4>
      <li class="li"><a class="aa" href="#">Link 1</a></li>
      <li class="li"><a class="aa" href="#">Link 2</a></li>
      <li class="li"><a class="aa" href="#">Link 3</a></li>
      <li class="li"><a class="aa" href="#">Link 4</a></li>
    </div>
    <div class="column">
      <h4>Dokumentasjon</h4>
      <li class="li"><a class="aa" href="#">Link 1</a></li>
      <li class="li"><a class="aa" href="#">Link 2</a></li>
      <li class="li"><a class="aa" href="#">Link 3</a></li>
      <li class="li"><a class="aa" href="#">Link 4</a></li>
    </div>
  </div>
  <hr class="hrr"/>
  <p class="copy">© - Copyright <a href="https://www.hiof.no">Høgskolen i Østfold 2018</a></p>
</footer> <!-- end footer -->